[submodule "pyclang"]
	path = pyclang
	url = git@github.com:ameyp/py-clang-util.git
[submodule "emacs-epc"]
	path = emacs-epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule "emacs-deferred"]
	path = emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "emacs-ctable"]
	path = emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable.git
